/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

form {
    max-width: 20em;
    /* margin: 4em auto; */
    width: 260px;
    background: #f4f4f4;
    padding: 1em;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

form h1 {
    color: #eeb007;
}

form input[type=text]::placeholder {
    color: #666;
}

form .history {
    margin-top: 1em;
}

form .history li {
    background: #fff;
    border-left: 4px solid #eeb007;
    padding: 1em;
    margin: 1em auto;
    color: #666;
}

form .history li i {
    float: right;
    color: #888;
    cursor: pointer;
}

form .input-group-text {
    background: #eeb007;
    height: fit-content;
    padding: 1em 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

form .input-group-text i {
    font-size: 2em;
}

form .form-control {
    height: 3em;
    max-width: 60%;
}

form .form-control:focus {
    box-shadow: 0;
}

.data {
    margin-left: 300px;
    font-size: 28px;
    padding: 0px 10px;
}
