<div class="container">

  <div class="form-continer">
    <form #countryform="ngForm" (ngSubmit)="searchCountrySubmit(countryform); countryform.resetForm()">
      <div class="form-group">
        <h1 class="text-center text-primary">Countries lookup</h1>
        <div class="input-group-prepend">
          <mat-form-field>
            <input #country class="form-control" type="text" placeholder="Country name" matInput
              [formControl]="countryctrl" [matAutocomplete]="auto" name="country" autocomplete="on" ngModel required>
            <button mat-button type="submit" class="input-group-text" (click)="searchCountry(country)">Search</button>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let country of filteredOptions | async" [value]="country.name">
                {{country.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </form>


    <div class="history">
      <ul class="list-instyled">
        <li *ngFor="let country of countries; let i=index"><span *ngIf="i<10">{{country.name}}</span></li>
      </ul>
    </div>
  </div>

  <div class="data" *ngIf="show">
    <p>Country Information</p>
    <br>
    <table mat-table [dataSource]="country">
    <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef> Flag </th>
        <td mat-cell *matCellDef="let country"> {{country}} </td>
      </ng-container>
    <!-- <tr>
        <th>Name</th>
        <td>name</td>
      </tr>
      <tr>
        <th>Currency Name</th>
        <td>dollor</td>
      </tr>
      <tr>
        <th>Latitude/Longitude</th>
        <td>lat/long</td>
      </tr>
      <tr>
        <th>Land Area</th>
        <td>1010101</td>
      </tr> -->
    </table>
  </div>

</div>