.form-continer {
    max-width: 20em;
    width: 260px;
    background: #f4f4f4;
    padding: 1em;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

form h1 {
    color: #eeb007;
}

form input[type=text]::placeholder {
    color: #666;
}

form .form-field {
    width: 100%;
}

form .input-group-text {
    background: #eeb007;
    float: right;
}

form .input-group-text i {
    font-size: 2em;
}

form .form-control {
    height: 3em;
    max-width: 60%;
}

form .form-control:focus {
    box-shadow: 0;
}

.data {
    margin-left: 300px;
    font-size: 28px;
    padding: 0px 10px;
}

@media screen and (max-width: 700px) {
    .form-continer {
        width: inherit;
        height: auto;
        position: relative;
        margin: auto;
        padding: 1em;
        max-width: 98%;
        padding-left: 5%;
        margin: 0;
        overflow: auto;
    }

    form .form-field {
        width: 92%;
    }

    .data {
        font-size: 28px;
        margin: auto;
    }
}