<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Countries lookup</h1>
      <div class="input-group-prepend"> 
        <input type="text" #country class="form-control" placeholder="Country name" name="country" ngModel>
        <span class="input-group-text" (click)="searchCountry(country.value)">Search</span>
      </div>
    </div>
  </form>
  <!-- <p>{{country.value}}</p> -->
  <div class="data">
    <ul class="list-instyled">
      <li *ngFor="let country of histories">{{country}}</li>
    </ul>
  </div>

</div>